body {
    text-align: center;
    padding: 0;
    margin: 0;
    color: #000;

}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-area{
    border: 1px solid #000;
    width: 700px;
    border-radius: 15px;
    margin-top: 50px;
    height: 150px;
    display: flex;
    justify-content: space-between;

}

.game-borde {
    width: 70%;
}

.rock{
    text-align: center;
    margin-left: 21rem;
}

.btn {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 10px;
    background: #fff;
    border: 10px solid rgb(58, 57, 59);
    color: #000;
}

.big {
    font-size: 10rem;
    line-height: .03125em;
    vertical-align: -0.1875em;
}

@media screen and (max-width: 1024px){
    .rock{
        margin-left: 17rem;
    }
}
@media screen and (max-width: 786px){
    .rock{
        margin-left: 14rem;
    }
}
@media screen and (max-width: 425px){
    .rock{
        margin-left: 6rem;
    }
}
@media screen and (max-width: 375px){
    .rock{
        margin-left: 4.5rem;
    }
}
@media screen and (max-width: 320px){
    .rock{
        margin-left: 3rem;
    }
}